html,
body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
main{
  margin: 1rem 3rem;
}
a {
  text-decoration: none;
  color: #636974;
}
nav {
  display: flex;
  padding: 1rem;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.hide {
  display: none;
}
.navigation_menu-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: #636974;
}
header {
  box-shadow: 0px 3px 6px #00000008;
}
.navigation_menu {
  display: none;
}
.logo {
  flex-grow: 1;
  text-align: center;
  color: #414859;
}
#hamburger span {
  border: 2px solid #f73872;
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  width: 1.5rem;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  gap: 4rem;
  margin: 0 auto;
  padding: 3rem;
}
.hero .left {
  width: 500px;
  flex: 1;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.left h2 {
  color: #2c2c2c;
  font-size: 2rem;
}
.left p {
  color: #646464;
  line-height: 35px;
  font-size: 1.5rem;
}
.left button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 1rem;
  margin-right: 1rem;
}
.hero .right{
  flex: 1;
}
.hero .right img{
  width: 100%;
  object-fit: cover;
}
.btn .btn_right {
  background-color: #270212;
}
.btn .btn_left {
  background-color: #fe0a74;
}
.layer_two {
  background-color: #fbfbfb;
  padding: 3rem 0;
}
.layer_two .right,
.layer_three .right {
  width: 500px;
}

.layer_two .container,.layer_three .container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 4rem;
  justify-content: space-between;
}
.container .left {
  position: relative;
  flex: 1;
}
.container .left .box {
  border: 10px solid #f73872;
  height: 450px;
  width: 350px;
  position: absolute;
  box-shadow: 0px 20px 40px #00000035;
}
.container .left .img {
  margin-left: 2rem;
  margin-top: 2rem;
  z-index: 2;
}
.container .left img{
  height: 600px;
  object-fit: cover;
}
.container .right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}
.container .right p {
  line-height: 35px;
  color: #646464;
  font-size: 1.5rem;
}
.container .right h2 {
  color: #2c2c2c;
  font-size: 2rem;
}
.container button {
  width: fit-content;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 1rem;
  margin-right: 1rem;
  background-color: #270212;
  cursor: pointer;
  font-size: 1.5rem;
}
.layer_three {
  padding: 3rem 0;
}

.description_section {
  padding: 3rem 0;
}
.description_section h2 {
  text-align: center;
  color: #2c2c2c;
  font-size: 2rem;
}
.description_section .container {
  position: relative;
  margin: 2rem auto;
}
.description_section .container .box {
  border: 10px solid #f73872;
  height: 100%;
  width: 90%;
  position: absolute;
  box-shadow: 0px 20px 40px #00000035;
}
.description_section .container .img {
  margin-left: 2rem;
  margin-top: 2rem;
  z-index: 2;
}
.description_section .container i {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #f73872;
  font-size: 4rem;
  z-index: 20;
  cursor: pointer;
  transition: all 0.5s;
}
.description_section .container i:hover {
  color: #fbfbfb;
}
.description_section img{
  object-fit: cover;
}
.testimonial {
  padding: 3rem 0;
  width: 80%;
  margin: 0 auto;
}
.testimonial h2 {
  text-align: center;
  color: #2c2c2c;
  margin: 2rem;
  font-size: 2rem;
}
.testimonial .container {
  display: flex;
  gap: 2rem;
}
.testimonial .container .card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 3px 6px #0000001a;
  font-size: 1.3rem;
  text-align: center;
  color: #4e4e4e;
  line-height: 35px;
}
.testimonial .card img {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
footer .contact {
  background-color: #d4015d;
  text-align: center;
  color: #ffffff;
  padding: 2rem;
}
footer .contact button {
  padding: 1rem 2rem;
  width: fit-content;
  background-color: #ffffff;
  color: #d4015d;
  cursor: pointer;
  border: none;
}
footer .contact p {
  margin: 1rem 0;
  font-size: 12px;
}
footer .footerLogo {
  background-color: #292929;
  color: white;
  text-align: center;
  padding: 1.5rem;
}
footer .footerLogo div:nth-child(2) {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  gap: 20px;
}
footer .footerLogo div:nth-child(2) i {
  cursor: pointer;
  font-size: 20px;
}
footer .disclaimer {
  text-align: center;
  color: #a1a1a1;
  background-color: #4b4b4b;
  padding: 1rem;
}
@media (min-width: 750px) {
  #hamburger {
    display: none;
  }
  .navigation_menu {
    display: flex;
    gap: 35px;
    color: #636974;
    align-items: center;
  }

  .navigation_menu span {
    border: 1px dotted #636974;
    padding: 5px 10px;
    border-radius: 5px;
  }
  a {
    text-decoration: none;
    color: #636974;
  }
  .logo {
    text-align: left;
  }
}
@media (max-width: 750px) {
  .hero .right {
    display: none;
  }
  .hero .btn {
    display: flex;
    gap: 1rem;
  }
  .layer_two .right,
  .layer_three .right {
    width: 100%;
  }
  .layer_two .container {
    flex-direction: column;
  }
  .layer_three .container {
    flex-direction: column;
  }
  .description_section .container .img img {
    height: 270px;
  }
  .testimonial .container {
    flex-direction: column;
  }
}
